body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 10px solid black;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  color: #fff;
}

header nav a {
  color: #000;
  background-color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}


/* Add styles to the form container */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 330px;
    max-width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    color: #961919;
  }
  
  /* Full-width input fields */
    #email-field  input[type=text], #password-fieldpr input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #b48484b9;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #0e0d0d;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #961919;
    color: rgb(245, 242, 242);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  /* save login information button*/
  .remember {
    background-color: #141010;
    color: rgb(245, 242, 242);
    padding: 0px 2px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

footer .contact-info {
    flex-grow: 1;
    min-width: 200px;
}

footer .contact-info p {
    margin: 5px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

footer .social-icons a {
    margin: 0 5px;
    text-decoration: none;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}
