/* Navigation */

header {
    padding: 40px;
    border-style:groove;
    font-size: 15px;
    font-family:Inter, Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}


.topnav{
    background-color:aliceblue;
    overflow:hidden;

}

.topnav a {
    float:right;
    color:black;
    text-align:right;
    padding: 14px 16px;
    text-decoration:underline;
    font-size: 17px;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

.logo {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 10%;
}
 
.container {
    top: 100%;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .content {
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}


.bottom {
    position:absolute;
    top: 100%;
    left: 45%;
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

footer .contact-info {
    flex-grow: 1;
    min-width: 200px;
}

footer .contact-info p {
    margin: 5px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

footer .social-icons a {
    margin: 0 5px;
    text-decoration: none;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}
